<div class="comments-close">
  <div class="comment">
    <div class="comment-image">
      <img src="<%= gravatar('foobar@gmail.com', 64) %>" alt=""/>
    </div>
    <div class="comment-content">
      <p>Sneakers is great!, able to deploy and go pro in around one day. We're processing around 1 billion events per day at Corpware.</p>
      <p class="comment-detail">
        John Singleton, CEO at Corpware
      </p>
    </div>
  </div>
</div>

<div class="comments-far">
  <div class="comment">
    <div class="comment-image">
      <img src="<%= gravatar('jondotan@gmail.com', 64) %>" alt=""/>
    </div>
    <div class="comment-content">
      <p>Sneakers is great!, able to deploy and go pro in around one day. We're processing around 1 billion events per day at Corpware.</p>
      <p class="comment-detail">
        John Singleton, CEO at Corpware
      </p>
    </div>
  </div>
</div>
