<div class="comments-close">
  <div class="comment">
    <div class="comment-image">
      <img src="<%= gravatar('abe@abevoelker.com', 64) %>" alt=""/>
    </div>
    <div class="comment-content">
      <p>I love using Sneakers because it simply leverages RabbitMQ instead of
reinventing messaging primitives on Redis or relational databases.  It's
safer, simpler, and more flexible.</p>
      <p class="comment-detail">
        Abe Voelker
      </p>
    </div>
  </div>
</div>

<div class="comments-far">
  <div class="comment">
    <div class="comment-image">
      <img src="<%= gravatar('jondotan@gmail.com', 64) %>" alt=""/>
    </div>
    <div class="comment-content">
      <p>We're happily using Sneakers to implement a pragmatic and scalable <a href="http://en.wikipedia.org/wiki/Lambda_architecture">lambda architecture</a>, which streamed over 1 billion mission critical events so far.</p>
      <p class="comment-detail">
        Dotan Nahum, Chief Architect at Conduit
      </p>
    </div>
  </div>
</div>
