<footer class="footer">
  <div class="footer-logo">
  </div>
  <div class="footer-links">
    <ul>
      <li><h3>Learn</h3></li>
      <li><a href="https://github.com/jondot/sneakers/wiki">Docs</a></li>
      <li><a href="/blog">Blog</a></li>
    </ul>
    <ul>
      <li><h3>Follow</h3></li>
      <li><a href="https://github.com/jondot/sneakers">Github</a></li>
      <li><a href="http://twitter.com/jondot">Follow @jondot</a></li>
      <li><a href="mailto:jondotan@gmail.com">Say hi :)</a></li>
    </ul>
    <ul>
      <li><h3>Community</h3></li>
      <li><a href="https://github.com/jondot/sneakers/issues">Issues</a></li>
      <li><a href="https://github.com/jondot/sneakers#contributing">How to Contribute</a></li>
      <li><a href="https://github.com/jondot/sneakers/wiki">Getting Help</a></li>
    </ul>
  </div>
  <p>
  Copyright © 2014 Dotan Nahum and contributors - Licensed under MIT.
  </p>
</footer>

